{% extends 'i0/b_.html' %}

{% block style %}
{% include 'm3/b_.css' %}{{ cs2 }}
{% endblock %}

{% block content %}
<div>
{{ html|safe }}
</div>

<script>
function an8(nome, tipo) {
	var b = document.getElementsByClassName(nome);
	var i;
	for (i = 0; i < b.length; i++) {
		if (tipo == 'an8') {
			b[i].style.animation = randint(1, 3) + "s an8 infinite";
		}
		if (tipo == 'ka8s') {
			b[i].style.animation = randint(1, 10) + "s ka8s infinite";
		}
	}
}
function an0(nome) {
	var b = document.getElementsByClassName(nome);
	var i;
	for (i = 0; i < b.length; i++) {
    	b[i].style.animation = 0;
	}
}
function randint(min, max) {
    return Math.floor(Math.random() * (max - min + 1) ) + min;
}
</script>
{% endblock %}
