{% extends 'f7/b_.html' %}

{% block title %}{{ tt }}{% endblock %}

{% block style %}
{% include 'f7/b_.css' %}
.frame {
	position: relative;
	float: left;
}
{% endblock %}

{% block content %}
<div id="tudo">
{% if d == '0' %}
	{% include "f7/f_.html" with ur1=ur1 h=v1 fs=fs1 only %}
	{% include "f7/f_.html" with ur1=ur2 h=v2 fs=fs2 only %}
{% else %}
	{% include "f7/f_.html" with ur1=ur1 w=v1 fs=fs1 only %}
	{% include "f7/f_.html" with ur1=ur2 w=v2 fs=fs2 only %}
{% endif %}
</div>
{% endblock %}